.banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #CCC;
    display: none;
}

.banner.show {
    display: block;
}

.banner .content {
    margin: 10px;
    text-align: center;
}

.banner .dismiss {
    position: absolute;
    right: 10px;
    top: 5px;
}